services:
  raspap:
    container_name: raspap
    #image: ghcr.io/raspap/raspap-docker:latest
    build:
      context: .
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    env_file: .env
    privileged: true
    network_mode: host
    cgroup: host # uncomment when using an ARM device
    environment:
      - NORDVPN_TOKEN=${NORDVPN_TOKEN}    # Inject token at runtime
      - WAN_IFACE=wlx7419f816abb1         # Upstream interface. Need to change this in RASPAP when it starts up
      - AP_IFACE=wlan0                    # AP interface
      - RASPAP_SSID=${RASPAP_SSID}
      - RASPAP_SSID_PASS=${RASPAP_SSID_PASS}
      - RASPAP_COUNTRY=US
      - RASPAP_WEBGUI_USER=${RASPAP_WEBGUI_USER}
      - RASPAP_WEBGUI_PASS=${RASPAP_WEBGUI_PASS}
      - RASPAP_WEBGUI_PORT=80
      - RASPAP_dhcpcd_interface=wlx7419f816abb1     # /etc/dhcpcd.conf
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    restart: unless-stopped
